.syntax--source.syntax--css {
  
  .syntax--constant.syntax--other {
    color: @hue-6;
    &.syntax--color {
      color: @hue-2;
    }
  }
  
  .syntax--entity {
    &.syntax--name.syntax--tag,
    &.syntax--name.syntax--tag.syntax--custom {
      color: @hue-1;
    }
    &.syntax--other.syntax--attribute-name {
      color: @hue-2;
      &.syntax--id,
      &.syntax--attribute,
      &.syntax--pseudo-class {
        color: @hue-3;
      }
    }
  }

  .syntax--keyword {
    &.syntax--other.syntax--important {
      color: @hue-1;
    }
  }

  .syntax--meta {
    color: @mono-1;
    &.syntax--attribute-selector {
      .syntax--entity.syntax--other.syntax--attribute-name {
        color: @hue-3;
      }
    }
    &.syntax--definition {
      &.syntax--variable.syntax--map {
        color: lighten(@mono-2, 15%);
      }
    }
    &.syntax--property-list {
      color: @mono-1;
    }
    &.syntax--selector {
      .syntax--entity.syntax--other.syntax--attribute-name {
        &.syntax--pseudo-class {
          color: @hue-3 !important;
        }
      }
    }
  }

  .syntax--property-name,
  .syntax--property-value {
    color: @mono-2;
    &.syntax--support {
      color: @mono-1;
    }
  }

  .syntax--punctuation {
    &.sytax--definition {
      &.syntax--keyword {
        color: @hue-1;
      }
    }
    &.syntax--section.syntax--property-list {
      &.syntax--bracket.syntax--curly {
        color: lighten(@mono-2, 12%);
      }
    }
    &.syntax--terminator.syntax--rule {
      color: @mono-2;
    }
  }

  .syntax--support {
    &.syntax--constant {
      &.syntax--font-name {
        color: @hue-5;
      }
    }
    &.syntax--function {
      color: @hue-2;
      &.misc {
        color: @hue-3;
      }
    }
  }

  .syntax--variable {
    &.syntax--other,
    &.syntax--interpolation {
      color: @hue-3;
    }
  }
}

// SCSS
.syntax--source.syntax--scss {
  
  .syntax--keyword.syntax--control {
    &.syntax--at-rule.syntax--extend {
      color: @hue-1 !important;
    }
  }
  
  .syntax--punctuation {
    &.sytax--definition {
      color: @hue-1;
      &.syntax--entity {
        color: @hue-3 !important;
      }
      &.syntax--keyword {
        color: @hue-1 !important;
      }
    }
  }
  
  .syntax--variable {
    color: @hue-6;
    &.syntax--parameter {
      color: @mono-1;
    }
  }
}
