.syntax--source.syntax--gfm {
  .syntax--markup {
    -webkit-font-smoothing: auto;
  }

  .syntax--link .syntax--entity {
    color: @hue-2;
  }
}

.syntax--source.syntax--md {
  .syntax--fenced.syntax--code {
    .syntax--punctuation {
      color: @hue-5;
    }
  }
}

.syntax--language.syntax--constant.syntax--md {
  color: @hue-6;
}

.syntax--fenced.syntax--code.syntax--md {
  .syntax--punctuation {
    color: @hue-5;
  }
}
