.syntax--source.syntax--java {
  
  .syntax--keyword {
    &.syntax--operator.syntax--instanceof {
      color: @hue-3;
    }
    &.syntax--other.syntax--import {
      color: @hue-1;
    }
  }
  
  .syntax--meta {
    &.syntax--class {
      color: @hue-1;
    }
    &.syntax--method {
      &.syntax--return-type {
        color: @hue-3;
      }
    }
  }
  
  .syntax--punctuation {
    color: @mono-2;
    &.syntax--definition {
      color: @mono-1;
      &.syntax--string {
        color: @hue-4;
      }
    }
  }
  
  .syntax--storage {
    &.syntax--modifier {
      color: @hue-1;
      &.syntax--import {
        color: @hue-5;
      }
    }
    &.syntax--type {
      color: @hue-3;
    }
  }
  
  .syntax--variable {
    color: @mono-1;
    &.syntax--other {
      color: @mono-1;
    }
    &.syntax--parameter {
      color: @hue-6;
    }
  }
}

.syntax--source.syntax--java-properties {
  .syntax--meta.syntax--key-pair {
    color: @hue-7;

    & > .syntax--punctuation {
      color: @mono-1;
    }
  }
}
