.syntax--source.syntax--js {
  .syntax--keyword.syntax--operator {
    color: @hue-1;

    &.syntax--delete,
    &.syntax--in,
    &.syntax--of,
    &.syntax--instanceof,
    &.syntax--new,
    &.syntax--typeof,
    &.syntax--void {
      color: @hue-3;
    }
  }
  
  .syntax--meta.syntax--arguments {
    color: @mono-1;
  }
  
  .syntax--support.syntax--variable {
    &.syntax--dom {
      color: @hue-5;
      &.syntax--property {
        color: @hue-2;
      }
    }
  }
}
