.syntax--markup {

    &.syntax--bold {
        font-weight: bold;
        color: @hue-5;
    }
    &.syntax--italic {
        font-style: italic;
        color: @hue-6;
    }
    &.syntax--heading {
        color: @hue-1;
    }
    .syntax--punctuation {
        color: inherit;
    }

}
.syntax--list {
    color: @hue-4;
}
.syntax--mention {
    color: @hue-5;
}
