.syntax--source.syntax--php {
  .syntax--class.syntax--bracket {
    color: @mono-1;
  }
  
  .syntax--meta {
    &.syntax--embedded.syntax--block {
      color: @hue-5;
    }
    &.syntax--function.syntax--arguments {
      &.syntax--no-default {
        color: @hue-6;
      }
    }
  }

  .syntax--punctuation.syntax--section.syntax--embedded {
    color: @hue-5 !important;
  }

  .syntax--support.syntax--function.syntax--construct {
    color: @hue-5;
  }
}
