.syntax--python {
    &.syntax--unpacking,&.syntax--type {
        color: @keyword-color;
    }
    &.syntax--parameters {
            color: @mono-1;
    }
    &.syntax--console { // Python console
        &.syntax--prompt {
            color: @keyword-color;
        }
    }
    &.syntax--decorator {color:@keyword-color;}
}
