
// Config -----------------------------------
@syntax-hue:          346;
@syntax-saturation:    5%;
@syntax-brightness:   15%;

// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, 9%, 88%); // default text
@mono-2: hsl(@syntax-hue,  9%, 60%);
@mono-3: #C65882;  // Comments

// Colors -----------------------------------
@keyword-color:   #FF7092;   // Keywords and statements
@misc-color:   #64aa77;   // Misc
@constant-color:   #f99270;   // Constants and types
@arg-color:   #FFB77A;  // Arguments and self
@string-color:   #F9C19A;   // Strings
@important-color:   #8DCD84;   // Important
@function-color:   #D6ABEE;   // Functions


@bg:  hsl(270, 5%, 17%);

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     #1E1C21;  // Background
@syntax-gutter: darken(@syntax-fg, 35%);
@syntax-guide:  fade(@syntax-fg, 12%);
@syntax-accent: hsl(@syntax-hue, 6%, 95%);
