
// Config -----------------------------------
@syntax-hue:          270;
@syntax-saturation:    4%;
@syntax-brightness:   16%;


// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, 9%, 85%); // default text
@mono-2: hsl(@syntax-hue,  9%, 60%);
@mono-3: hsl(@syntax-hue, 8%, 43%);

// Colors -----------------------------------
@hue-1:   hsl(350, 92%, 70%); // <-magenta
@hue-2:   hsl( 98, 64%, 68%); // <-green
@hue-3:   hsl(195, 75%, 72%); // <-blue
@hue-4:   hsl( 40, 98%, 76%); // <-yellow
@hue-5:   hsl(246, 80%, 80%); // <-purple
@hue-6:   hsl( 21, 86%, 70%); // <-orange
@hue-7:   hsl(  5, 48%, 51%); // <-red

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-fg, 35%);
@syntax-guide:  fade(@syntax-fg, 12%);
@syntax-accent: hsl(@syntax-hue, 6%, 95%);
